<div class="profile-header">

  <div class="profile-info">
    <img src="assets/user.png" alt="user" class="user" />
    <div class="profile-details">
      <h3>John Morrison <span>(HWS Care Manager)</span></h3>
      <div class="contact-info">
        <span class="icon">
          <mat-icon>phone</mat-icon> +1 (401) 501-8877
        </span>
        <span class="icon">
          <mat-icon>email</mat-icon> jaydevvara27gmail.com
        </span>
        <span class="icon">
          <mat-icon>location_on</mat-icon> Ullin, IL, US
        </span>
      </div>
      <div class="association">
        Associated with: asd, Aufderhar, Blaine Wong, bna, California, Carter ...
      </div>
    </div>
  </div>

  <!-- Profile Button -->
  <button mat-raised-button color="primary" class="profile-button">
    <mat-icon>account_circle</mat-icon> My Profile
  </button>
</div>
<br>
<div class="dashboard-container">
  <h2 class="title">Home Health</h2>
  <div class="underline"></div>

  <!-- Container for the dropdown -->
  <div class="dropdown-container">
    <select class="dropdown">
      <option>All Groups</option>
      <option>USA</option>
      <option>USA</option>
      <option>USA</option>
      <option>USA</option>
    </select>
  </div>
</div>
<br><br><br><br><br>
<div class="container-fluid-2">
  <div class="parent-1">
    <h1 class="title-2">Total Patients Count <br>
      <h1 class="count">57</h1>
    </h1>
    <mat-icon class="icon-2">group_add</mat-icon>
  </div>

</div>

<div class="container-fluid-3">
  <div class="parent-2">
    <h1 class="title-3">Eligible Patients<br>
      <h1 class="count-2">34</h1>
    </h1>
    <mat-icon class="icon-3">group_add</mat-icon>
  </div>
</div>

<div class="container-fluid-4">

</div>
