<div class="profile-header">

  <div class="profile-info">
    <img src="assets/user.png" alt="user" class="user" />
    <div class="profile-details">
      <h3>John Morrison <span>(HWS Care Manager)</span></h3>
      <div class="contact-info">
        <span class="icon">
          <mat-icon>phone</mat-icon> +1 (401) 501-8877
        </span>
        <span class="icon">
          <mat-icon>email</mat-icon> jaydevvara27gmail.com
        </span>
        <span class="icon">
          <mat-icon>location_on</mat-icon> Ullin, IL, US
        </span>
      </div>
      <div class="association">
        Associated with: asd, Aufderhar, Blaine Wong, bna, California, Carter ...
      </div>
    </div>
  </div>

  <!-- Profile Button -->
  <button mat-raised-button color="primary" class="profile-button">
    <mat-icon>account_circle</mat-icon> My Profile
  </button>
</div>
<br>
<div class="dashboard-container">
  <h2 class="title">Home Health</h2>
  <div class="underline"></div>

  <!-- Container for the dropdown -->
  <div class="dropdown-container">
    <select class="dropdown">
      <option>All Groups</option>
      <option>USA</option>
      <option>USA</option>
      <option>USA</option>
      <option>USA</option>
    </select>
  </div>
</div>
<br><br><br><br><br>
<div class="container-fluid-2">
  <div class="parent-1">
    <h1 class="title-2">Total Patients Count <br>
      <h1 class="count">57</h1>
    </h1>
    <mat-icon class="icon-2">group_add</mat-icon>
  </div>

</div>

<div class="container-fluid-3">
  <div class="parent-2">
    <h1 class="title-3">Eligible Patients<br>
      <h1 class="count-2">34</h1>
    </h1>
    <mat-icon class="icon-3">group_add</mat-icon>
  </div>
</div>

<div class="container-fluid-4">
   <div class="parent-3">
     <h1 class="title-4">Admitted
      Patients
       <h1 class="count-3">5</h1>
     </h1>
     <mat-icon class="icon-4">group_add</mat-icon>
   </div>
  
   <div class="parent-4">
    <h1 class="title-5">Bill in Last 
      30 Days
      <h1 class="count-4">7</h1>
    </h1>
    <mat-icon class="icon-5">group_add</mat-icon>
  </div>

   <div class="parent-5">
    <h1 class="title-6">Did Not Bill in Last 30 Days
      <h1 class="count-5">57</h1>
    </h1>
    <mat-icon class="icon-6">group_add</mat-icon>
   </div>
</div>

<div class="container-fluid-5">
  <div class="parent-6">
    <h1 class="title-7">Pending Authorization
      <h1 class="count-6">17</h1>
    </h1>
    <mat-icon class="icon-7">group_add</mat-icon>
  </div>

  <div class="parent-7">
    <h1 class="title-8">Pending Paperwork
      <h1 class="count-7">5</h1>
    </h1>
    <mat-icon class="icon-8">group_add</mat-icon>
  </div>

  <div class="parent-8">
    <h1 class="title-9">Pending Signature
      <h1 class="count-8">5</h1>
    </h1>
    <mat-icon class="icon-9">group_add</mat-icon>
  </div>
</div>

<div class="container-fluid-6">
   <div class="parent-9">
     <h1 class="title-10">Authorization Renewal within 30 days
       <h1 class="count-9">6</h1>
     </h1>
     <mat-icon class="icon-10">group_add</mat-icon>
   </div>
</div>

<div class="container-fluid-7">
  <div class="parent-10">
    <h1 class="title-11">Patients Details
      <h1 class="count-10">0</h1>
    </h1>
    <mat-icon class="icon-11">group_add</mat-icon>
  </div>

  <div class="parent-11">
    <h1 class="title-12">Patients Details
      <h1 class="count-11">0</h1>
    </h1>
    <mat-icon class="icon-12">group_add</mat-icon>
  </div>

  <div class="parent-12">
    <h1 class="title-13">Patients Details
      <h1 class="count-12">0</h1>
    </h1>
    <mat-icon class="icon-13">group_add</mat-icon>
  </div>
</div>
