.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 4px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 100px;
  height: 70px;
  padding: 0px 40px;
  margin-right: 8px;
}

.col-6 {
  width: 400px;
  border-radius: 8px;
  color: rgb(0, 178, 255);
  box-shadow: 0 0 8px;
  background-color: #ffffff;
}

.connection-text {
  display: flex;
  padding: 10px 10px;
}

.description {
  text-align: center;
  font-size: 14px;
  height: 7px;
}

.mat-icon {
  float: right;
  color: rgb(0, 178, 255);;
  cursor: pointer;
}

.name-of-count {
  padding: 2px 18px;
  font-size: 10px;
  height: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.img {
  align-items: center;
  justify-content: space-evenly;
  padding-left: 20px;
}

.voice-call {
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
}

.pipe {
  color: #e6e6e6;
}

.pr5 {
  padding-right: 5px;
}

.pl5 {
  padding-left: 5px;
}

.img-2 {
  display: flex;
  position: relative;
}

.number {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.numbers.voice-call {
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
}

.name-of-count-1 {
  padding: 2px 12px;
  font-size: 0.7rem;
  height: 40px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.name-of-count-2 {
  padding: 2px 55px;
  font-size: 10px;
  height: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.container {
  display: flex;
  cursor: pointer;
  grid-template-columns: repeat(3, 110px);
  align-items: flex-end;
  margin-bottom: 5px;
  width: 28%;
  height: 50px;
}

.status-count {
  font-size: 25px;
  font-style: bold;
  padding: 0px 0px;
}

.status-count-2 {
  font-size: 25px;
  font-style: bold;
  font-weight: 500;
  padding: 0px 54px;
}

.count {
  display: flex;
  height: 43px;
  padding: 0px 55px;
  font-weight: 500;
  font-size: 0.7rem;
}

.admin_panel{
  color:  rgb(0, 178, 255);;
}

.event{
  color: rgb(0, 178, 255);
}

.tty{
  color: rgb(0, 178, 255);
}

.phone_forwarded{
  color: rgb(0, 178, 255);
}

.person_add{
  color: rgb(0, 178, 255);
}

.notifications{
  color: rgb(0, 178, 255);
}

.add_alert{
  color: rgb(0, 178, 255);
}

.user-info {
  display: flex;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  gap: 10px;
  padding: 8px 15px;
}

.user{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.user-id {
  font-size: 12px;
  cursor: pointer;
  color: #666;
}

mat-icon {
  font-size: 24px;
  color: #555;
}


.profile-menu {
  display: flex;
  align-items: center;
    }

    .profile-info {
      display: flex;
      flex-direction: column;
      margin-right: 8px;

      .profile-name {
        font-weight: 500;
        font-size: 16px;
        color: #333;
      }

      .profile-id {
        font-size: 12px;
        color: #777;
      }
    }

  
  mat-menu {
    mat-menu-item {
      display: flex;
      align-items: center;

      .mat-icon {
        margin-right: 8px;
        color: #555;
      }

      .shortcut {
        font-size: 12px;
        color: #aaa;
        margin-left: auto;
      }
    }
  }

   .container-fluid{
    width: 100%;
    position: sticky;
    margin-top: 2px;
    display: flex;
    align-items: center;
    background-color: white;
  }
  
  .header-icons {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 16px;
    color: #555;
    background-color: #e6e6e6;
  }
  
  .header-icons mat-icon {
    margin-right: 8px;
    margin-left: 36px;
    cursor: pointer;
    font-size: 24px;
    color: #555; 
  }
  
  .nav-item {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 16px;
    color: #555;
  }
  
  .nav-item mat-icon {
    margin-right: 8px;
    margin-left: 36px;
    cursor: pointer;
    font-size: 24px;
    color: #555; 
  }
  
  .nav-item-2 {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: #555;
  }
  
  .nav-item-2 mat-icon {
    margin-right: 8px;
    margin-left: 36px;
    cursor: pointer;
    font-size: 24px;
    color: #555; 
  }
  
  .nav-item-3 {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: #555;
  }
  
  .nav-item-3 mat-icon {
    margin-right: 8px;
    margin-left: 36px;
    cursor: pointer;
    font-size: 24px;
    color: #555; 
  }
  
  
  