<div class="header-container">
  <!-- Logo Section -->
  <div class="logo-section">
    <img src="assets/logo_latest.png" alt="Logo" class="logo-icon" width="100%" height="70px">
  </div>

  <!-- Connection Status Card -->
  <div class="col-6 ">
    <div class="connection-txt">
      <div class="description">Excellent Connection
        <mat-icon>refresh</mat-icon>
      </div>

      <div class="container">
        <div>
          <div class="name-of-count">ONLINE</div>
          <span class="img">
            <span>
              <img src="assets/incoming_call.png" width="15px" height="15px" alt="incoming_call image"></span>
            <span class="numbers voice-call">
              <strong>0</strong></span>
            <span class="pipe pl5 pr5">|</span>
          </span>
        </div>

        <div class="img-2">
          <span>
            <span>
              <img src="assets/outgoing_call.png" width="15px" height="15px" alt="outgoing_call image"></span>
            <span class="pl10 numbers voice-call">
            </span>
          </span>
        </div>
        <span class="number">
          <strong>4</strong></span>

        <div>
          <div class="name-of-count-1">VOICEMAILS
            <span class="status-count">184</span>
          </div>

        </div>
        <div>
          <div class="name-of-count-2">MISSEDCALLS</div>
          <span class="status-count-2">1</span>
        </div>

      </div>
    </div>
  </div>


  <mat-icon>admin_panel_settings</mat-icon>
  <mat-icon>event</mat-icon>
  <mat-icon>tty</mat-icon>
  <mat-icon>phone_forwarded</mat-icon>
  <mat-icon>person_add</mat-icon>
  <mat-icon>notifications</mat-icon>
  <mat-icon>add_alert</mat-icon>


  <!-- User Profile Section -->
  <div class="user-info">
    <img src="assets/user-profile.jpg" alt="User" class="user-avatar">
    <div class="user-details">
      <div class="user-name">John Morrison</div>
      <div class="user-id">(john_morrison)</div>
    </div>
    <span class="dropdown-icon">⬇️</span>
  </div>
  <!-- </div> -->