<div class="container">
  <div class="left-section">
    <div class="logo">
      <img src="assets/logo.png" alt="Health Wealth Safe">
    </div>
    <h1>Health Wealth Safe</h1>
    <p>Remote Patient Monitoring & Chronic Care Management Solutions</p>
    <address>
      2005 Prune Ave, Athens, GA, United States, 30606 <br>
      infohealthwealthsafe.com +1 (800) 123-4567<br>
      (Available 24/7)<br><br>
      Privacy Policy | Terms of Use | HWS
    </address>
  </div>
  <div class="right-section">
    <div class="login-box">
      <h1>Sign In</h1><br><br><br>
      <p>Don't have an account?<a href="#">Sign Up</a></p>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
      <form [formGroup]="loginForm" (ngSubmit)="onsubmit()">
        <div class="input-box">
          <input type="text" id="username" name="username" placeholder="Username*" required>
        
        </div>
        <br/>
        <div class="input-box">
          <input [type]="passwordFieldType" id="password" name="password" placeholder="Password*" required>
        <span  class="fas" [ngClass]="{'fa-eye': passwordFieldType === 'password', 'fa-eye-slash': passwordFieldType === 'text'}" 
          (click)="togglePasswordVisibility()"></span>
          <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        </div>
        <div class="options">
          <a href="#">Forgot Username or Password?</a>

        </div>
        <button type="submit" class="btn">Sign In</button><br>
        
        <a href="#">Administrator?</a>
      </form>

    </div>
  </div>

</div>