<!-- <mat-toolbar color="primary" class="header-toolbar">
  <div class="logo">
  
    <img src="https://hws-images-uat.s3.amazonaws.com/logos/logo_latest.png" alt="Health Wealth Safe" width="100px
    " height="70px">
  </div>


   <section name="section-counts">
        <div class="count-container">
            <div class="bandwith">
                <div class="connection-text">
                  <span>Excellent Connection</span>
                </div>
                <span class="material-icons refresh-icon">refresh</span>
            </div>
            <div class="counts">
                  <div class="count">
                     <div class="name of count"> 
                         <p>ONLINE</p>
                         <div class="call-img">
                          <img src="assets/call_logo(1).png" alt="Online" width="20px">
                          <span class="count-number">
                            <strong>0</strong></span>
                        </div>
                           
                        </div>
                  </div>
                  
            </div>
        </div>

  </section> 
  <!-- <div class="count-container">
    <div class="div1">
       <span class="name of count">ONLINE</span>
       <img src="assets/call_logo(1).png" alt="Online" width="20px">
       <span class="status-count">
        <strong>0</strong> 
       </span> 
    </div> -->
    
    <!-- <div class="div2"> </div>
    <div class="div3"> </div> -->
    <!-- </div> -->
  <!-- <div class="status-panel">
    <p>ONLINE<br>
    <img src="assets/call_logo(1).png" alt="Online" width="20px">
    <span class="number">
    <strong>0</strong></span>
  </p><br>
  <span>Excellent Connection</span>
    <div>
      <span>VOICEMAILS: 184</span>
      <span>MISSED CALLS: 1</span>
      <button mat-icon-button>
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div> -->
<!--  
  <div class="spacer"></div>
  <div class="user-profile">
    <img src="path/to/profile-pic.jpg" >
    <span>John Morrison</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>  -->


<!-- <div id="main">
  <mat-toolbar class="ng-star-inserted below-fixed">
    <form action="">
    <div class="image-block">
      <div class="logo">
        <img src="https://hws-images-uat.s3.amazonaws.com/logos/logo_latest.png" alt="Health Wealth Safe" width="100px
    " height="70px" />
      </div>
    </div>
   
  </form>
  </mat-toolbar>
</div> -->



<router-outlet></router-outlet>